


<!-- <br>
<div>

</div>



<div class="bar-mood">
  <div class="mood1"> . <input class="mood" type="hidden" value="1"></div>
  <div class="mood2"> . <input class="mood" type="hidden" value="2"></div>
  <div class="mood3"> . <input class="mood" type="hidden" value="3"></div>
  <div class="mood4"> . <input class="mood" type="hidden" value="4"></div>
  <div class="mood5"> . <input class="mood" type="hidden" value="5"></div>
  <div class="mood6"> . <input class="mood" type="hidden" value="6"></div>
  <div class="mood7"> . <input class="mood" type="hidden" value="7"></div>
  <div class="mood8"> . <input class="mood" type="hidden" value="8"></div>
  <div class="mood9"> . <input class="mood" type="hidden" value="9"></div>
  <div class="mood10"> . <input class="mood" type="hidden" value="10"></div>
</div> -->


This website is dedicated to help people with anxiety pass the time.
