

<!-- this div close pushes this element below container div I know I know totally hacky, :-\  -->
<!-- </div> -->
<p class="footer">This website is dedicated to helping people with anxiety pass the time.</p>
