<div id="about">
  <h3>About</h3>
<p> This project is based on my own experiences in trying to cope with anxiety </p>

<p> <strong> Intro: </strong>In 2005 David Foster Wallace gave a speech to the graudating students of Kenyon College. It was titled "This is water." I read this speech every few months, it helps realign my internal compass. It turned out that DFW had an extensive library of self-help books that were heavily annoted. This inspired me to pursue self-help in all sorts of shapes and forms.   </p>

<p> <strong> Journal: </strong>Journaling has long been thought to be a theraputic tool. It seemed fitting to have a component like this. If not even as a proper daily journal- sometimes just writing something troubling thoughts down can help dissapate some of the feelings of distress.  </p>

<p> <strong> Mood: </strong>One of my closest friends has spent a long time talking to about how cool it would be track his moods and then graph them out. But he never was able to keep up tracking his mood for more than a few days. I don't know that this would even help. But this componenet is dedicated to him. </p>

<p> <strong> Breath: </strong> Becuase only second to 'just stop stressing'- this is the thing people always tell me to do('take deep breaths!'). Surely there must be something to it if everyone keeps telling me to do it.

<p> <strong> Feeling: </strong> I tried <a href = "http://www.emdr.com/"> EMDR </a>a few times. It definitely pushed me out of my comfort zone, I tink it may have even helped a little. I often wonder if circumstances had been different and I had continued, how it would have all turned out.

<p> <strong> Colors: </strong> This one, though the simplest to implement, has the most meaning for me and was the inspiration to build out the other pieces of this app. I once had the fortune of haivng one of the worst panic attacks of my life in the presense of a counselor who was able to walk me through from one end to the other, for the first time, without drug intervention. She used a bunch of different techniques on me, but kept coming back to colors. The ability to make it to the other end of a severe panic attack without medication was a profoundly freeing experience and I wouldn't be here today without having had her help. </p>
</div>
