</div>

<div id="breath" class="breath-speed-3">
</div>
<div class="breath-speed-1-control"></div>
<div class="breath-speed-2-control"></div>
<div class="breath-speed-3-control"></div>
<div class="breath-speed-4-control"></div>
<div class="breath-speed-5-control"></div>

<p class="footer"> Take slow breaths  </p>
