#breath {

  position: absolute;
  left: 200px;
  top:200px;
  display: inline-block;
  background-color: rgba(119, 119, 119, .3);
  border-radius:100%;
  min-width:200px;
  min-height:200px;
  max-width:200px;
  max-height:200px;
  box-shadow: 3px 3px 8px rgba(119, 119, 119, .3),
           -3px -3px 8px  rgba(119, 119, 119, .3),
            -3px 3px 8px rgba(119, 119, 119, .3),
             3px -3px 8px rgba(119, 119, 119, .3);
  /*box-shadow: ;*/
}

#breath {
  animation-duration:12s;
  animation-name:circleExpand;
  animation-iteration-count: infinite;
}

@keyframes circleExpand {
  0%,100% {
    transform: scale(.7,.7)
  }
  50% {
    transform: scale(1,1)
  }
}

.breath-speed-1{
  position: absolute;
  left: 200px;
  bottom:100px;
  display: inline-block;
  background-color: rgba(119, 119, 119, .3);
  border-radius:100%;
  min-width:10px;
  min-height:10px;
  max-width:10px;
  max-height:10px;
  box-shadow: 3px 3px 8px rgba(119, 119, 119, .3),
           -3px -3px 8px  rgba(119, 119, 119, .3),
            -3px 3px 8px rgba(119, 119, 119, .3),
             3px -3px 8px rgba(119, 119, 119, .3);
}

.breath-speed-2{
  position: absolute;
  left: 220px;
  bottom:98px;
  display: inline-block;
  background-color: rgba(119, 119, 119, .3);
  border-radius:100%;
  min-width:12px;
  min-height:12px;
  max-width:12px;
  max-height:12px;
  box-shadow: 3px 3px 8px rgba(119, 119, 119, .3),
           -3px -3px 8px  rgba(119, 119, 119, .3),
            -3px 3px 8px rgba(119, 119, 119, .3),
             3px -3px 8px rgba(119, 119, 119, .3);
}


.breath-speed-3{
  position: absolute;
  left: 240px;
  bottom:97px;
  display: inline-block;
  background-color: rgba(119, 119, 119, .3);
  border-radius:100%;
  min-width:14px;
  min-height:14px;
  max-width:14px;
  max-height:14px;
  box-shadow: 3px 3px 8px rgba(119, 119, 119, .3),
           -3px -3px 8px  rgba(119, 119, 119, .3),
            -3px 3px 8px rgba(119, 119, 119, .3),
             3px -3px 8px rgba(119, 119, 119, .3);
}

.breath-speed-4{
  position: absolute;
  left: 262px;
  bottom:95px;
  display: inline-block;
  background-color: rgba(119, 119, 119, .3);
  border-radius:100%;
  min-width:16px;
  min-height:16px;
  max-width:16px;
  max-height:16px;
  box-shadow: 3px 3px 8px rgba(119, 119, 119, .3),
           -3px -3px 8px  rgba(119, 119, 119, .3),
            -3px 3px 8px rgba(119, 119, 119, .3),
             3px -3px 8px rgba(119, 119, 119, .3);
}

.breath-speed-5{
  position: absolute;
  left: 287px;
  bottom:93px;
  display: inline-block;
  background-color: rgba(119, 119, 119, .3);
  border-radius:100%;
  min-width:18px;
  min-height:18px;
  max-width:18px;
  max-height:18px;
  box-shadow: 3px 3px 8px rgba(119, 119, 119, .3),
           -3px -3px 8px  rgba(119, 119, 119, .3),
            -3px 3px 8px rgba(119, 119, 119, .3),
             3px -3px 8px rgba(119, 119, 119, .3);
}
