div.bar {
  display: inline-block;
  max-width:10px;
  height: 75px;
  /*background-color: teal;*/
  margin-right: 1px;
}

.svg{
  background-color: black;
  min-height: 500px;
}

#graph {
  background-color:white;
}
