/*****************************************************
                Journal
*****************************************************/
.entries-all {
  background-color:white;
  border-radius:10%;
  padding:10px;
  margin: 10px;
  box-shadow: 1px 1px 3px grey;
  display:block;
  position:relative;
}

.entries-all div{
  display:block;
  position:relative;
}
.entries-all a {
  margin-left:30px;
}

.entries-all div {
  padding:5px;
}

.entries-all h2 {
  padding:10px;
}

.entries-all p {
  padding:10px;
  margin-left:10px;
  margin-right:10px;
}
