/*****************************************************
                 GENERAL
*****************************************************/


body {
  background: url(crossword.png);
  color: rgba(8,8,8, .5);
  font-family: 'Comfortaa', cursive;
  font-family: 'Philosopher', sans-serif;
}

.container {
  max-width:900px;
}

a {
  text-decoration: none;
  color: #aaa;
}

a:hover {
  color: #777;
}

/*****************************************************
                Nav & Login
*****************************************************/

.login {
  position:absolute;
  top: 8px;
  right:8px;

}

.hello {
  position: absolute;
  left: 60px;
  top:50px;
  color rgba(119,119,119, 0.4)
}

.menu {
  padding-right: 10px;
  margin-right:10px;
}
.menu a{
  padding-right: 10px;
  margin-right:10px;
  margin-bottom:50px;
}
/*****************************************************
                Mood Bar
*****************************************************/
div[class^="mood"]{
  width:20px;
  height:40px;
  color: rgba(200,200,200, 0.01);
  display:inline;
  padding:0;
  margin:0;

}

.bar-mood {
  width:40px;
  height:440px;
  display:inline-block;
  background-image:
  linear-gradient( to bottom,
    #fff, #aaa, #777
  );
}

input[class^="mood"]{
  display:inline-block;
}


/*****************************************************
                Journal
*****************************************************/
.entries-all {
  background-color:white;
  border-radius:10%;
  padding:10px;
  margin: 10px;
  box-shadow: 1px 1px 3px grey;
}
/*
fonts

font-family: 'Abril Fatface', cursive;

font-family: 'Architects Daughter', cursive;

font-family: 'Josefin Slab', serif;

font-family: 'Comfortaa', cursive;

font-family: 'Philosopher', sans-serif;

font-family: 'Old Standard TT', serif;

font-family: 'Tangerine', cursive;

font-family: 'Arapey', serif;

font-family: 'Bad Script', cursive;*/

/*modified from  https://css-tricks.com/examples/ShapesOfCSS/*/

#burst-8 {
    background: #eee;
    width: 80px;
    height: 80px;
    position: relative;
    top: 200px;
    left: 500px;


    text-align: center;
    border-radius:10px;
    -webkit-transform: rotate(20deg);
       -moz-transform: rotate(20deg);
        -ms-transform: rotate(20deg);
         -o-transform: rotate(20eg);
}
#burst-8:before {
    content: "";
    position: absolute;
    height: 80px;
    width: 80px;
    background: #eee;
    border-radius:10px;
    -webkit-transform: rotate(135deg);
       -moz-transform: rotate(135deg);
        -ms-transform: rotate(135deg);
         -o-transform: rotate(135deg);
}

#burst-8 {
  animation-duration:12s;
  animation-name: esqueSwing;
  animation-iteration-count: infinite;
}

@keyframes esqueSwing {
  0%,100% {
    transform: rotate(0deg) translate(-300px) rotate(45deg)
  }
  50% {
  transform: rotate(-60deg) translate(200px) rotate(45deg)
  }
}
