<div class="colors"><br>
Your head is connected to your body.<br>
Your feet are firmly touching the ground.<br>
Look away from the screen and out and around.<br>
Name the colors of the things you see.<br>
You are present in the here and now. <br>
</div>
