<div class="colors">
<p>Your head is connected to your body.</p>
<p>Your feet are firmly touching the ground.</p>
<p>Look away from the screen, out and around.</p>
<p>Name the colors of the things you see.</p>
<p>You are present in the here and now. </p>
</div>
