<div id="burst-8" class="burst-8">
</div>
</div>
<div class="footer block">
<div class="feeling1"><p>These prompts will repeat. Click for the next prompt</p></div>
<div class="feeling2"><p>Take your time</p></div>
<div class="feeling3"><p>Stop whenever you want</p></div>
<div class="feeling4"><p>Be sure to breathe</p></div>
<div class="feeling5"><p>There are no correct answers</p></div>
<div class="feeling6"><p>Folow the pendulum with your eyes </p></div>
<div class="feeling7"><p>Focus on an uncomofortable feeling that you are currently experiencing</p></div>
<div class="feeling8"><p>Give the feeling a color</p></div>
<div class="feeling9"><p>Give the feeling a shape</p></div>
<div class="feeling10"><p>Give the feeling a texture</p></div>
<div class="feeling11"><p>Give the feeling a size</p></div>
<div class="feeling12"><p>Notice, does it have a temperature?</p></div>
<div class="feeling13"><p>Notice, does it have a sound?</p></div>
<div class="feeling14"><p>Notice, has this feeling changed?</p></div>
<div class="feeling15"><p>Are you able to move it?</p></div>
<div class="feeling16"><p>Notice how you are feeling</p></div>
<div class="feeling17"><p>Click again to repeat the prompts</p></div>
